
.menu {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu {
	display: none;
}

/* too many styles for a generic component? */
.menu--parent.is-open {
	display: block; /* parent is only visible when open */
}

@media (min-width: 0em) {

}

@media (min-width: 35.5em) {

	/* too many styles for a generic component? */
	.menu--parent {
		display: block; /* parent is always visible */
	}

	.menu--parent.menu--mega {

	}

	/* too many styles for a generic component? */
	.menu--child.is-open {
		display: block; /* child is only visible when open and in desktop resolution */
	}

	/* display the parent menu in a horizontal list */
	.menu--parent > .menu__item {
		display: inline-block;
		vertical-align: top;
	}

	/* display child menus in a vertical list over the top of any other content */
	.menu--child {
		position: absolute;
		top: 100%;
	}

}
